@import "tailwindcss";

:root {
  --background: #f3f2ef;
  --foreground: #171717;
  --primary: #700A0A;
  --secondary: #C90000;
  --accent: #70ADBC;
  --gold: #D4A574;
  --maroon-dark: #8B1538;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-gold: var(--gold);
  --color-maroon-dark: var(--maroon-dark);
  --font-sans: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes shrink {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}